.dialog-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #777;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: #fff;
    max-height: 500px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    &__header {
        background-color: #ddd;
        display: flex;
    }

    &__header-title-container {
        width: 60%;
    }

    &__header-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__header-button {
        width: 40%;
    }

    &__content {
        display: flex;
        overflow: hidden;
    }

    &__content-block {
        &_left {
            width: 30%;
            border-right: 1px solid #ccc;
        }

        &_right {
            width: 70%;
            overflow: scroll;
        }
    }

    &__footer {
        background-color: #ddd;
        text-align: center;
        word-break: break-all;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    width: 100%;
}